/* ************* NavBar ************* */
.navBar {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
}

#containerNavBar {
  min-height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 83px;
  max-width: 1366px;
  margin: auto;
}

#logoNavBar {
  width: 138.51px;
  height: 42px;
}

#buttonsNavBar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 592px;
}

#buttonsNavBar button {
  margin: auto;
  cursor: pointer;
  width: 148px;
  height: 36px;
  font: normal normal 600 16px/24px Red Hat Display;
}

#noBackgrounButton {
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
}

#loginButton {
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  color: #32a4de;
  font: normal normal bold 16px/24px Red Hat Display;
}

#signupButton {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #32a4de;
  border-radius: 18px;
  color: #32a4de;
}

.navBarMobile {
  display: none;
}

#imageNavBarMobile {
  width: 40px;
  cursor: pointer;
  filter: contrast(40%);
}

#menuMobile {
  min-width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0px;
}

#menuMobile button {
  margin: auto;
  cursor: pointer;
  width: 148px;
  height: 36px;
  font: normal normal 600 16px/24px Red Hat Display;
}

/* ************* Banner ************* */
.banner {
  padding-top: 55px;
  height: 349px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

#petsImageBanner {
  width: 404px;
  height: 349px;
}

#contentTextBanner {
  max-width: 504px;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#h2Banner {
  text-align: left;
  font: normal normal 600 30px/24px Red Hat Display;
  letter-spacing: 0px;
  color: #606060;
  margin-bottom: 10px;
}

#h1Banner {
  text-align: left;
  font: normal normal bold 38px/24px Red Hat Display;
  letter-spacing: 0px;
  color: #32a4de;
  margin-top: 12px;
}

#bannerButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#buyIdTag {
  width: 240px;
  height: 48px;
  background: #32a4de 0% 0% no-repeat padding-box;
  border: 0px;
  border-radius: 24px;
  text-align: center;
  font: normal normal 600 21px/20px Red Hat Display;
  letter-spacing: 0px;
  color: #ffffff;
  cursor: pointer;
}

#haveIdTag {
  width: 240px;
  height: 48px;
  background: #0d3c54 0% 0% no-repeat padding-box;
  border-radius: 24px;
  border: 0px;
  text-align: center;
  font: normal normal 600 21px/20px Red Hat Display;
  letter-spacing: 0px;
  color: #ffffff;
  cursor: pointer;
}

/* ************* Info ************* */
.info {
  height: 528px;
  background: #32a4de 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#h2Info {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  font: normal normal bold 36px/34px Red Hat Display;
  letter-spacing: 0px;
  color: #ffffff;
}

#cards {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
}

/* ************* Card ************* */
#card {
  margin: auto;
  position: relative;
  width: 370px;
  height: 300px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
}

#numbersCardInfo {
  position: absolute;
}

#circleCardNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 36px;
  height: 36px;
  margin-top: 15px;
  margin-left: 19px;
}

#circleCardNumber img {
  display: block;
  margin: 0 auto;
  filter: brightness(40%);
}

#numberCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;
  font: normal normal bold 24px/34px Red Hat Display;
  letter-spacing: 0px;
  color: #ffffff;
}

#contentCardInfo {
  padding: 48px 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#imageContentCard {
  height: 72px;
}

#h3ContentCard {
  margin-top: 18px;
  margin-bottom: 12px;
  text-align: center;
  font: normal normal bold 24px/34px Red Hat Display;
  letter-spacing: 0px;
  color: #0d3c54;
}

#pContentCard {
  margin-top: 0px;
  text-align: center;
  font: normal normal 600 18px/24px Red Hat Display;
  letter-spacing: 0px;
  color: #646464;
}

/* ************* Faq ************* */
.faqs {
  min-height: 474px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 82px;
}

#h2Faqs {
  text-align: center;
  font: normal normal bold 36px/34px Red Hat Display;
  letter-spacing: 0px;
  color: #0d3c54;
  margin-bottom: 48px;
}

#faqQuestionAnswer {
  width: 900px;
  min-height: 60px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 6px;
  margin-bottom: 16px;
  padding: 0px 21px;
  cursor: pointer;
}

#divFaqTile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#answerFaqs {
  padding-bottom: 18px;
}

/* ************* Contact ************* */
.contact {
  height: 454px;
  background: #0d3c54 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 346px;
  position: relative;
}

#h2Contact {
  text-align: center;
  font: normal normal bold 36px/34px Red Hat Display;
  letter-spacing: 0px;
  color: #ffffff;
  margin-top: 0px;
}

#pContact {
  text-align: center;
  font: normal normal normal 18px/20px Red Hat Display;
  letter-spacing: 0px;
  color: #ffffff;
  margin-top: -20px;
}

#divContactForm {
  margin-top: 40px;
  width: 621px;
  height: 305px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 27px;
  padding-left: 27px;
  padding-right: 27px;
}

#contactForm {
  height: 100%;
  margin-bottom: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 624px;
}

#contactFirstLine {
  min-height: 48px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

#inputContact {
  display: flex;
  flex-direction: column;
  position: relative;
}

#inputContact input {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c1c1c1;
  border-radius: 6px;
  width: 264px;
  height: 48px;
  padding: 0px 18px;
  letter-spacing: 0px;
  text-align: left;
  font: normal normal normal 16px/20px Red Hat Display;
  letter-spacing: 0px;
  color: #6d6d6d;
}

#errors {
  font: normal normal normal 12px Red Hat Display;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 35px;
  left: 5px;
}

#divInputText {
  width: 624px;
  height: 80px;
  display: flex;
  flex-direction: column;
  position: relative;
}

#divInputText textarea {
  height: 80px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #c1c1c1;
  border-radius: 6px;
  box-sizing: border-box;
  resize: none;
  padding: 12px 20px;
  text-align: left;
  font: normal normal normal 16px/20px Red Hat Display;
  letter-spacing: 0px;
  color: #6d6d6d;
}

#errorsText {
  font: normal normal normal 12px Red Hat Display;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 68px;
  left: 5px;
}

#sendContactButton {
  width: 150px;
  height: 48px;
  margin-top: 25px;
  background: #32a4de 0% 0% no-repeat padding-box;
  border-radius: 24px;
  border: 0px;
  text-align: center;
  font: normal normal 600 21px/20px Red Hat Display;
  letter-spacing: 0px;
  color: #ffffff;
  cursor: pointer;
}

#backgroundAlert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#alertSubmit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 30px;
  border-radius: 20px;
}

#pTitleAlertt {
  font: normal normal bold 32px/28px Red Hat Display;
  letter-spacing: 0px;
  color: #0d3c54;
  text-align: center;
  margin-bottom: 10px;
}

#pInfoContact {
  font: normal normal 600 16px/12px Red Hat Display;
  letter-spacing: 0px;
  color: #000000;
  text-align: left;
  line-height: 20px;
}

#closeButtonContact {
  margin: auto;
  width: 150px;
  height: 48px;
  background: #32a4de 0% 0% no-repeat padding-box;
  border-radius: 24px;
  border: 0px;
  text-align: center;
  font: normal normal 600 21px/20px Red Hat Display;
  letter-spacing: 0px;
  color: #ffffff;
  cursor: pointer;
}

.notificationsAndPromoteApp {
  height: 371px;
}

/* ************* Notifications ************* */
.notifications {
  height: 223px;
  padding: 0px 433px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#divTitleNotifications {
  width: 392px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#divTitleNotifications p {
  text-align: center;
  font: normal normal 600 18px/24px Red Hat Display;
  letter-spacing: 0px;
  color: #606060;
}

#notificationForm {
  position: relative;
}

#notificationForm input {
  width: 500px;
  height: 72px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000026;
  border-radius: 6px;
  border: 0px;
  padding: 0px 25px;
  font: normal normal normal 16px/20px Red Hat Display;
  letter-spacing: 0px;
  color: #a2a2a2;
}

#buttonSubscribe {
  width: 120px;
  height: 36px;
  background: #32a4de 0% 0% no-repeat padding-box;
  border-radius: 24px;
  border: 0px;
  text-align: center;
  font: normal normal 600 16px/20px Red Hat Display;
  letter-spacing: 0px;
  color: #ffffff;
}

#buttonSubscribe {
  position: absolute;
  cursor: pointer;
  top: 18px;
  right: 15px;
}

#errorEmailNotification {
  font: normal normal normal 12px Red Hat Display;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 63px;
  left: 5px;
}

/* ************* PromoteApp ************* */
.promoteApp {
  width: 350px;
  height: 148px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -30px;
}

#divLogosApps {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#divLogosApps img {
  cursor: pointer;
}

/* ************* Footer ************* */
.footer {
  height: auto;
}

#footerHyperlinks {
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 40px 83px;
  height: auto;
  display: grid;
  grid-template-columns: 34.3% 28.2% 23.6% 14%;
}

#footerHyperlinks h6 {
  text-align: left;
  font: normal normal bold 18px/24px Red Hat Display;
  letter-spacing: 0px;
  color: #32a4de;
  margin-top: -2px;
  margin-bottom: -10px;
}

#pInfoFooter {
  cursor: auto;
}

#footerHyperlinks p {
  text-align: left;
  font: normal normal medium 8px/16px Red Hat Display;
  letter-spacing: 0px;
  color: #606060;
  margin-bottom: -4px;
}

#pLinkFooter {
  cursor: pointer;
}

#divFooter1 {
  width: 75.7%;
}

#divFooter2 {
  width: 100%;
}

#divFooter3 {
  width: 100%;
}

#divFooter4 {
  width: 100%;
}

#imagesFooter {
  margin-top: 20px;
  max-width: 144px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

#copyRightFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background: #f4f7f9 0% 0% no-repeat padding-box;
}

#copyRightFooter p {
  text-align: center;
  font: normal normal medium 16px/24px Red Hat Display;
  letter-spacing: 0px;
  color: #606060;
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1150px) {
  .info {
    height: auto;
  }
  #cards {
    grid-template-columns: repeat(2, 1fr);
    max-width: 800px;
  }
  #card {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1024px) {
  #containerNavBar {
    height: 80px;
  }
  #buttonsNavBar {
    width: 70%;
  }
  #buttonsNavBar button {
    width: 110px;
    height: 40px;
  }
  .banner {
    height: auto;
  }
  #petsImageBanner {
    width: 300px;
    height: auto;
  }
  #contentTextBanner {
    width: 70%;
    padding: 50px 30px;
  }
  #bannerButtons {
    width: 410px;
  }
  #buyIdTag {
    width: 200px;
  }
  #haveIdTag {
    width: 200px;
  }
  .faqs {
    height: auto;
    padding-bottom: 40px;
  }
  #divfaqQuestionAnswer {
    width: 90%;
  }
  #faqQuestionAnswer {
    width: auto;
  }
  .contact {
    height: auto;
  }
  #pContact {
    min-width: 500px;
  }
  .notificationsAndPromoteApp {
    width: 100%;
  }
  .notifications {
    padding: 0px 10px;
  }
  #footerHyperlinks {
    grid-template-columns: 34.3% 21.6% 21.6% 21.6%;
  }
  #divFooter1 {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  #containerNavBar {
    padding: 30px 10px;
    padding-top: 30px;
    justify-content: space-around;
    height: auto;
  }
  #buttonsNavBar {
    display: none;
  }

  .navBarMobile {
    display: flex;
  }
  #menuMobile {
    border-top: 1px solid rgba(134, 134, 134, 0.363);
  }
  #menuMobile button {
    width: auto;
    min-width: 250px;
  }
  .banner {
    flex-direction: column-reverse;
    padding-top: 0px;
  }
  #h2Banner {
    text-align: center;
  }
  #h1Banner {
    text-align: center;
  }
  #bannerButtons {
    width: 100%;
    height: 100px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #contentTextBanner {
    margin: auto;
    width: 80%;
  }
  #h2Banner {
    line-height: 1.1;
  }
  #h1Banner {
    line-height: 1.1;
  }
  #petsImageBanner {
    margin: auto;
  }
  #cards {
    grid-template-columns: repeat(1, 1fr);
  }
  #card {
    width: 340px;
    height: 300px;
  }
  .contact {
    width: auto;
    padding: 60px 30px;
  }
  #pContact {
    min-width: 280px;
  }
  #divContactForm {
    min-width: 280px;
    width: auto;
    height: auto;
  }
  #contactForm {
    width: 100%;
  }
  #contactFirstLine {
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
  }
  #contactFirstLine input {
    margin-bottom: 18px;
  }
  #divInputText {
    width: 100%;
  }
  .notificationsAndPromoteApp {
    height: auto;
    min-height: 400px;
  }
  .notifications {
    padding: 0px 10px;
  }
  #divTitleNotifications {
    width: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #divTitleNotifications img {
    width: 33px;
    height: 27px;
  }
  #notificationForm input {
    width: 300px;
  }
  .promoteApp {
    margin-top: 0px;
  }
  #footerHyperlinks {
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #divFooter1 {
    width: 80%;
    margin-bottom: 30px;
    text-align: center;
  }
  #divFooter2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  #divFooter3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  #divFooter4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  #alertSubmit {
    width: 80%;
    height: auto;
    padding: 10px 10px;
  }
}

@media screen and (max-width: 375px) {
  #menuMobile {
    min-width: 200px;
  }
  #petsImageBanner {
    width: 70%;
  }
  #card {
    width: 300px;
    height: 330px;
  }
  .contact {
    width: auto;
    padding: 60px 10px;
  }
  #divContactForm {
    min-width: 0px;
    max-width: 240px;
  }

  #contactFirstLine {
    padding: 0 0;
    width: 100%;
  }

  #inputContact input {
    padding: 0 5px;
    width: none;
  }
  #notificationForm input {
    width: 240px;
  }
  .promoteApp {
    width: auto;
  }
  #divLogosApps {
    width: 240px;
    flex-direction: column;
  }
  #divLogosApps img {
    width: 150px;
    margin: auto;
  }
}
